<section>
    <div class="container">
        <div>
            <h1>Order Placed Successfully</h1>
        </div>
        <div>
            <a href="/orders" class="btn btn-primary">View Orders</a>
        </div>
    </div>
</section>